@model TicketBox.Models.TicketBox_dbModel
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/DangNhapcss.css" rel="stylesheet" />
<div class="login-box">
    <h4>Đăng Nhập</h4>
    <div class="login-body">
        <div class="form-group">
            @Html.LabelFor(model => model.TenTaiKhoan)
            <input type="text" placeholder="Tài khoản của bạn" class="form-control" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MatKhau)
            <input type="text" placeholder="Mật khẩu" class="form-control" />
        </div>
        <div class="login-footer">
            <p><input type="submit" value="Xác Nhận" /></p>
            @Html.ActionLink("Đăng Ký", "DangKy", "DangKy")
        </div>
    </div>
</div>

