#search{
    margin-right:-65px;
    padding:0 10px 0 10px;
    width:30px;
    height:36px;
    float:left;
    color:#ffffff;
}
#search:hover
{
    text-decoration:none;
    color:#7CB342;
}
#txtTimKiem {
    float:left;
    margin-left:5%;
    width:250px;
}
#txtTimKiem input{
     height:0;
     
}
#navbarResponsive ul li a
{
    text-transform:uppercase;
    color: #fff;
}

#navbarResponsive ul li a:hover
{
    color:#8CB53B;
}
#navbarResponsive ul li a:active
{
    color:#ff0000;
}